/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Myriad Pro Semibold, sans-serif;
    background: linear-gradient(45deg, #1c0818, #121214, #2a2c30); /* Initial gradient */
    background-size: 400% 400%; /* Make the gradient large enough to animate */
    animation: gradientAnimation 10s ease infinite; /* Apply the animation */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    flex-direction: column; /* Change flex direction to column to stack content vertically */
    overflow: hidden; /* Prevent scrolling issues */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Main container styling */
.container {
    max-width: 400px;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.7);  /* Dark background with 70% opacity */
    border-radius: 30px;
    padding: 40px 30px; /* Adjusted padding for better spacing */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px; /* Add space for footer */
}

/* Footer styling */
footer {
    font-size: 0.8rem;
    color: #aaa;
    text-align: center;
    padding: 10px 0; /* Add some padding for visual spacing */
    position: fixed; /* Fixed at the bottom of the screen */
    bottom: env(safe-area-inset-bottom, 0); /* Safe area inset for iPhones */
    width: 100%;
    background-color: transparent; /* Transparent to blend seamlessly */
}

/* Adjust body padding to account for iPhone safe areas */
html, body {
    height: 100%;
    margin: 0;
    padding: env(safe-area-inset-top, 0) 0 env(safe-area-inset-bottom, 0);
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    .container {
        padding: 30px;
    }
    h1 {
        font-size: 2rem;
    }
}
